body {
    font-family: 'Roboto Mono',monospace;

    background-image: url('https://www.bonitoway.com.br/public/posts/paraguai_bonito_way_bonito_ms_a.jpg');
    background-color: #000000;
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    height: 100vh;
}

.page-title {
    font-size: 3em;
    margin: 0 0 5px;
}

.page-subtitle {
    font-size: 1.8em ;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
}

.valores {
    font-size: 1.5em;
    margin-top: 10px;
}

input {
    font-size: 1.3em;
    text-align: center;
    width: 8em;
}

button{
    width: 15em;
    height: 4em;
    font-weight: bold;
    color: #ffffff;
    background-color:darkgreen;
}